html{
    box-sizing: border-box;
    font-size: 62.5% ;
}

*,
*:before,
*:after {
    box-sizing: inherit ;
}

body {
    font-family: 'Raleway',sans-serif;
    font-size: 1.6rem;

}

img{
    max-width: 100%;
}

h1{
   font-size: 4rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.entrada a {
display: inline-block;
background-color: aquamarine;
color: white;
padding: 1rem 2rem;
text-decoration: none;
font-size: bold;
text-transform: uppercase;
}

.dos_columnas {
    display: flex;
    /* alienacion horizontal*/
    justify-content: space-between;
    /*siempre debe ir la separacion, no siempre funciona en todos los navegadores*/
    /* gap:2rem*/
    
}

/*para tres columnas*/
/*
.tres_columnas{
    display: flex ;
    justify-content: space-between;
    gap: 2rem;
    
}

*/



/* cuand es con media core*/ 
/*
@media (min-width: 760px){
    .dos_columnas {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap:  2rem; 
    }
}
*/